.vs/*
DebugAxp/*
ReleaseAXP/*
ctf/DebugAXP/*
ctf/ReleaseAXP/*
ctf/ctf.vcxproj.user
ctf/debug/*
ctf/release/*
debug/*
game/DebugAxp/*
game/ReleaseAXP/*
game/debug/*
game/release/*
ref_gl/DebugAxp/*
ref_gl/ReleaseAXP/*
ref_gl/debug/*
ref_gl/release/*
ref_soft/DebugAxp/*
ref_soft/ReleaseAXP/*
ref_soft/debug/*
ref_soft/release/*
release/*
